modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 24343

[userenv]

[userenv.shared]
VITE_SITE_URL = "https://94d309d1-2d2d-47f0-b876-683d52cbe7a4-00-3b68sg2l84036-gvixp9ub.kirk.replit.dev"

[objectStorage]
defaultBucketID = "replit-objstore-bec1f357-2ec7-46e8-b816-4d175fc74086"
